.App {
  text-align: center;
}

.container {
  border: 2px solid black;
  width: 90%;
  height: 630px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 15%;
}

.ballon {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  color: white;
}

.empty_container {
  border: 2px solid green;
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
}

.input_container > input {
  padding: 10px;
  width: 80%;
}
.input_container > button {
  padding: 10px;
  width: 91%;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(191, 244, 191);
}
