.App {
  text-align: center;
}

.container {
  border: 2px solid blue;
  width: 80%;
  margin: 50px auto;
  display: flex;
  gap: 15%;
}

.ballon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  margin: 15%;
}

.empty_container {
  border: 2px solid green;
  width: 40%;
  padding: 50px;
}

.input_container > input {
  padding: 10px;
  width: 80%;
}
.input_container > button {
  padding: 10px;
  width: 91%;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(191, 244, 191);
}
